<footer class="footer-padding" style="height: 385px; padding-top: 60px; padding-bottom: 60px; background-color: #f5f5f5; ">
    <div class="container">
        <div class="" align="center" style="margin-right: -15px; margin-left: -15px; ">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                @*<img style="width: 141px;height: 42px" src="https://appinionbd.com/asset/images/logos/appinion.png" alt="">*@
                <h2 class="theme-title"><b> Accounting Service  </b><span class="theme-title-smaller"></span></h2>
                <a target="_blank" href="https://www.linkedin.com/company/appinionbd/"><span class="ion-social-linkedin social-icons-dark-hover mr15"></span></a>
                <a target="_blank" href="https://www.facebook.com/AppinionBDLimited"><span class="ion-social-facebook social-icons-dark-hover mr15"></span></a>

            </div>
        </div>
        <div  align="center">
            <div class="col-sm-8 col-sm-offset-2 text-small text-center" style="padding-top:10px;">
                <hr>
                <div style="margin-top: -37px;">
                    <a href="www.facebook.com" id="tw" class="social fw" target="blank"><img src="~/Images/facebook.png" style="width: 100%; height: auto; max-width: 50px; max-height: 50px; " asp-append-version="true"></a>
                    <a href="www.linkedln.com" id="tw" class="social fw" target="blank"><img src="~/Images/linkedin.png" style="width: 100%; height: auto; max-width: 43px; max-height: 50px; " asp-append-version="true"></a>
                    <a href="www.Twitter.com" id="tw" class="social fw" target="blank"><img src="~/Images/twitter.png" style="width: 100%; height: auto; max-width: 50px; max-height: 50px; " asp-append-version="true"></a>
                </div>
                <div style=" margin-top: 76px;">
                   
                    <a href="https://www.linkedin.com/in/farihajahan15/" target="blank"> © 2021 All rights reserved to Fariha Jahan Shanta</a>
                </div>
                </div><!-- /.column -->
            </div><!-- /.row -->
    </div>
    <!-- /.container -->
</footer>
