@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http

<section id="about" class="background1 section-padding" style="padding-top: 80px; padding-bottom: 80px; margin-left: -15px; margin-right: -15px; background-color: #f5f5f5; ">
    <div class="container" style="max-width:100%">
        <div class="" align="center">
            <h2 class="topic-title" style="text-align: center; line-height: 43px;">
                <br />
                <strong>
                    About us
                </strong>
            </h2>
            <span class="section-divider" style="background-color: rgba(66, 66, 66, 0.15); display: inline-block; margin-top: 20px; margin-bottom: 30px; width: 60px; height: 1px; "></span>

            <div class="" style="border-color:#145629;border-top-width:1px;margin-left: auto;margin-right: auto;margin-bottom:25px;">
                <span class="icon-wrapper" style="border-color:#145629;">
                    @*<img src="" asp-append-version="true" />*@
                    <i class="bi bi-file-earmark-person-fill"></i>
                </span>
            </div>
            <p align="justify" style="font-size: 18px; width: 620px;">
                Creative Accounting services is a business-to-consumer organisation with full service accounting and consulting firm. We cater to a wide variety of clients ranging from individuals to medium-sized corporations. Our staff accountants specialize in.
                We work with clients on a one-on-one basis, creating a warm atmosphere that puts them at ease even during their highest times of stress.
                we pledge to create an environment that will cause each of our clients to view us as a trusted business adviso
            </p>



            <div class="fusion-separator fusion-full-width-sep sep-single" style="border-color:#145629;border-top-width:1px;margin-left: auto;margin-right: auto;margin-top:20px;margin-bottom:20px;">
                <span class="icon-wrapper" style="border-color:#145629;">
                    @*<img src="" asp-append-version="true" />*@
                    <i class="bi bi-file-earmark-person-fill"></i>
                </span>

            </div>

        </div>

    </div>
</section>
<section id="services" class="background2 section-padding" style="background-color: #fff; padding-top: 80px; padding-bottom: 80px ">
    <div class="container" align="center" style="width: 1170px;">
        <div style="margin-right: -15px; margin-left: -15px;">
            <div class="col-xs-12 section-title" style="text-align:center;">

                <h2>
                    <strong>Services</strong>
                </h2>

                <span class="section-divider" style="background-color: rgba(66, 66, 66, 0.15); display: inline-block; margin-top: 20px; margin-bottom: 30px; width: 60px; height: 1px; "></span>
            </div><!-- /.column -->
        </div>
        <!-- /.row
        -->
        <div class="row">
            <!-- Item 1 -->
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="services-box leftReveal" data-sr-id="4" style="padding: 48px; visibility: visible; background-color: #f5f5f5; border-left: 2px solid #eaeaea; -webkit-transform: translateX(0) scale(1); opacity: 1; transform: translateX(0) scale(1); opacity: 1; -webkit-transition: all 0.6s ease 0s, -webkit-transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; transition: all 0.6s ease 0s, transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; ">
                    <i class="ionicons ion-grid services-icon"></i>

                    <h3 class="service-name">Individual and Company Tax Return</h3>

                    <!-- <button type="button" class="btn btn-default mt10" data-toggle="modal"
                            data-target="#item1-services">Info
                    </button> -->
                </div>
            </div><!-- /.column -->

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mt30-xs">
                <div class="services-box topReveal" data-sr-id="8" style="padding: 48px; visibility: visible; background-color: #f5f5f5; border-left: 2px solid #eaeaea; -webkit-transform: translateX(0) scale(1); opacity: 1; transform: translateX(0) scale(1); opacity: 1; -webkit-transition: all 0.6s ease 0s, -webkit-transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; transition: all 0.6s ease 0s, transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; ">
                    <i class="ionicons ion-android-bulb services-icon"></i>
                    <h3 class="service-name">Bookkeeping Services</h3>

                    <!-- <button type="button" class="btn btn-default mt10" data-toggle="modal"
                            data-target="#item2-services">Info
                    </button> -->
                </div>
            </div><!-- /.column -->

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mt30" style="margin-top: 30px !important;">
                <div class="services-box leftReveal" data-sr-id="5" style="padding: 48px; visibility: visible; background-color: #f5f5f5; border-left: 2px solid #eaeaea; -webkit-transform: translateX(0) scale(1); opacity: 1; transform: translateX(0) scale(1); opacity: 1; -webkit-transition: all 0.6s ease 0s, -webkit-transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; transition: all 0.6s ease 0s, transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; ">
                    <i class="ionicons ion-android-color-palette services-icon"></i>
                    <h3 class="service-name">Company Formation</h3>
                    <!-- <p class="text-small">With the depth and breadth of knowledge, we offer system design and analysis
                        to assist organization’s digital transformation...</p>
                    <button type="button" class="btn btn-default mt10" data-toggle="modal"
                            data-target="#item4-services">Info
                    </button> -->
                </div>
            </div><!-- /.column -->

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mt30" style="margin-top: 30px !important;">
                <div class="services-box bottomReveal" data-sr-id="1" style="padding: 48px; visibility: visible; background-color: #f5f5f5; border-left: 2px solid #eaeaea; -webkit-transform: translateX(0) scale(1); opacity: 1; transform: translateX(0) scale(1); opacity: 1; -webkit-transition: all 0.6s ease 0s, -webkit-transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; transition: all 0.6s ease 0s, transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; ">
                    <i class="ionicons ion-code services-icon"></i>
                    <h3 class="service-name">Tax Advice</h3>
                    <!-- <p class="text-small">For clients interested in long-term support and application improvement, we
                        offer data analytics...</p>
                    <button type="button" class="btn btn-default mt10" data-toggle="modal"
                            data-target="#item5-services">Info
                    </button> -->
                </div>
            </div><!-- /.column -->

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mt30" style="margin-top: 30px !important;">
                <div class="services-box bottomReveal" data-sr-id="2" style="padding: 48px;; visibility: visible; background-color: #f5f5f5; border-left: 2px solid #eaeaea; -webkit-transform: translateX(0) scale(1); opacity: 1; transform: translateX(0) scale(1); opacity: 1; -webkit-transition: all 0.6s ease 0s, -webkit-transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; transition: all 0.6s ease 0s, transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; ">
                    <i class="ionicons ion-help-buoy services-icon"></i>
                    <h3 class="service-name">Fringe Benefits Tax</h3>
                    <!-- <p class="text-small">For clients interested in long-term support and application improvement, we
                        offer data analytics...</p>
                    <button type="button" class="btn btn-default mt10" data-toggle="modal"
                            data-target="#item5-services">Info
                    </button> -->
                </div>
            </div><!-- /.column -->
            <!-- Item 6 -->
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mt30" style="margin-top: 30px !important;">
                <div class="services-box bottomReveal" data-sr-id="3" style=" padding: 30px; visibility: visible; background-color: #f5f5f5; border-left: 2px solid #eaeaea; -webkit-transform: translateX(0) scale(1); opacity: 1; transform: translateX(0) scale(1); opacity: 1; -webkit-transition: all 0.6s ease 0s, -webkit-transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; transition: all 0.6s ease 0s, transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; ">
                    <i class="ionicons ion-help-circled services-icon"></i>
                    <h3 class="service-name">Superannuation Funds &amp; Business Name Registration</h3>
                    
                  
                </div>
            </div><!-- /.column -->



        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<section id="commitment" class="background1 section-padding" style="padding-top: 80px; padding-bottom: 80px; margin-left: -15px; margin-right: -15px; background-color: #f5f5f5; ">
    <div class="container" style="max-width:100%">
        <div class="row" align="center">
            <div class="col">
                <img src="~/Images/Commitment.jfif" asp-append-version="true" style="height: 410px; width: 100%;" />

            </div>
            <div class="col">
                <h2 class="topic-title" style="text-align: center; line-height: 43px;">
                    <br />
                    <strong>
                        Our Commitment to Clients
                    </strong>
                </h2>
                <span class="section-divider" style="background-color: rgba(66, 66, 66, 0.15); display: inline-block; margin-top: 20px; margin-bottom: 30px; width: 60px; height: 1px; "></span>


                <p align="justify" style="font-size: 18px; width: 620px;">
                    Creative Accounting services is a business-to-consumer organisation with full service accounting and consulting firm. We cater to a wide variety of clients ranging from individuals to medium-sized corporations. Our staff accountants specialize in.
                    We work with clients on a one-on-one basis, creating a warm atmosphere that puts them at ease even during their highest times of stress.
                    we pledge to create an environment that will cause each of our clients to view us as a trusted business adviso
                </p>
            </div>






        </div>

    </div>
</section>
<section id="contact" class="background2 section-padding" style="background-color: #fff; padding-top: 80px; padding-bottom: 80px ">
    <div class="container" style="width: 1170px;">
        <div class="mb30" align="center" style="margin-bottom: 30px !important; margin-right: -15px; margin-left: -15px; ">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2
                        col-lg-6 col-lg-offset-3 section-title" style="text-align: center;">
                <h2>Contact</h2>
                <span class="section-divider mb15" style="background-color: rgba(66, 66, 66, 0.15); display: inline-block; margin-top: 20px; margin-bottom: 30px; width: 60px; height: 1px; "></span>
                <p class="no-margin scaleReveal" data-sr-id="16" style="margin: 0 !important; visibility: visible; -webkit-transform: translateY(0) scale(1); opacity: 1; transform: translateY(0) scale(1); opacity: 1; -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; transition: transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; ">
                    We'd love to get the opportunity to discuss
                    the value we may bring to your organization.
                    Please give us a call or fill out the form below.
                </p>
            </div><!-- /.column -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-sm-6 col-lg-5 col-sm-offset-1 mt30-xs" style="width: 41.66666667%; margin-left: 122px;">
                <h5 class="heading-1 mb20" style="border-bottom: 1px solid #424242; padding-bottom: 4px; display: inline-block; color: #424242; border-color: #cecece; margin-bottom: 20px !important; ">Visit Us</h5>
                <h6 class="mb15" style="margin-bottom: 15px !important;">4th floor, plot 15,<br> Block-C, South Avenue,<br>Gulshan 1, Dhaka 1212, Bangladesh.</h6>
                <!--<p class="no-margin text-xs-small">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates. Temporibus autem quibusdam et aut.</p> -->
                <!--<hr class="mini-hr">-->
                <span class="section-divider" style="background-color: rgba(66, 66, 66, 0.15); display: inline-block; margin-top: 20px; margin-bottom: 30px; width: 60px; height: 1px; "></span>
                <p class="text-xs-small mb5"><strong class="text-switch">Email:</strong> info@gmail.com</p>
                <p class="text-xs-small mb5"><strong class="text-switch">Phone:</strong> +88 017 000 30000 </p>
            </div><!-- /.column -->
            <div class="col-sm-4 col-lg-5 mt30-xs" style="width: 41.66666667%;float:left;">
                <form method="post">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" style="margin-bottom: 15px;">
                                <div class="controls">
                                    <input class="form-control" type="text" name="subject" id="subject" style="border: 0; box-shadow: none; border-color: #2F2F2F; color: #a1a1a1; border: none; border-bottom: 2px solid #ECECEC " data-error="This section is required." placeholder="Subject *" required type="text">

                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div><!-- /.column -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="controls">
                                    <input class="form-control" style="border: 0; box-shadow: none; border-color: #2F2F2F; color: #a1a1a1; border: none; border-bottom: 2px solid #ECECEC " id="contact" name="contact" placeholder="Phone" type="text">
                                </div>
                            </div>
                        </div><!-- /.column -->
                    </div><!-- /.row -->
                    <div class="form-row mb10">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="controls">
                                    <input class="text-black-50 form-control" style="border: 0; box-shadow: none; border-color: #2F2F2F; color: #a1a1a1; border: none; border-bottom: 2px solid #ECECEC " data-error="This section is required." id="name" placeholder="Your Name *" name="name" required type="text">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div><!-- /.column -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="controls">
                                    <input class="email form-control" style="border: 0; box-shadow: none; border-color: #2F2F2F; color: #a1a1a1; border: none; border-bottom: 2px solid #ECECEC " data-error="This section is required." id="email" placeholder="Email *" name="email" required type="email">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div><!-- /.column -->
                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="controls">
                                    <textarea class="form-control" style="border: 0; box-shadow: none ;border-color: #2F2F2F; color: #a1a1a1; border: none; border-bottom: 2px solid #ECECEC " data-error="This section is required." id="message" placeholder="Message *" name="message" required="" rows="5"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt15">
                        <div class="col-sm-6">
                            <div id="msgSubmit" class="h4 hidden mt10 no-margin-bottom"></div>
                        </div><!-- /.column -->
                        <div class="col-sm-6 text-right">
                            <button type="submit" id="submit" class="btn btn-success" 
                                  formmethod="post"  
                                  asp-controller="Home"
                                    asp-route-subject="subject"
                                    asp-route-contact="contact"
                                    asp-route-name="name"
                                    asp-route-email="email"
                                    asp-route-message="message"
                                    asp-action="ContactSend"
                                    
                                    >Send</button>
                        </div><!-- /.column -->
                    </div><!-- /.row -->
                </form><!-- /.form -->
            </div><!-- /.column -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>